go 1.21.3

use (
	"./5 - longestPalindrome"
	"./6 - zigzagConversion"
	./10-regularExpression
	./11-containerWithMostWater
	./12-intToRoman
	./13-romanToInt
	./14-longestCommonPrefix
	./7-reverseInteger
	./9-palindromeNumber
)
